.head {
    opacity: 0;
    transform: translateY(-50px);
    /* slide up */
    transition: transform .8s ease, opacity 1.2s ease;
}

body.page-loaded .head {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1s;
    /* appears after hero-text */
}

/* Initial hidden state */
.socials,
.study {
    opacity: 0;
    transform: translateX(50px);
    /* slide right */
    transition: transform .8s ease, opacity 1.2s ease;
}

/* Triggered on page load */
body.page-loaded .socials {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1s;
    /* appears after hero-text */
}

body.page-loaded .study {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 1.4s;
    /* appears slightly after socials */
}

/* Initial hidden states */
.hero-text h1 {
    opacity: 0;
    transform: translateX(-50px);
    /* slide from left */
    transition: transform 1.2s cubic-bezier(0.65, 0, 0.35, 1), opacity 1.2s ease;
}

.hero-text h2 {
    opacity: 0;
    transform: translateY(-50px);
    /* slide from top */
    transition: transform 1.2s cubic-bezier(0.65, 0, 0.35, 1), opacity 1.2s ease;
}

.hero-text p {
    opacity: 0;
    transform: translateX(50px);
    /* slide from right */
    transition: transform 1.1s cubic-bezier(0.65, 0, 0.35, 1), opacity 1.2s ease;
}

/* Triggered on page load */
body.page-loaded .hero-text h1 {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.2s;
}

body.page-loaded .hero-text h2 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
}

body.page-loaded .hero-text p {
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0.8s;
}

/* Initial state */
.me-wrapper1 {
    opacity: 1;
    transition: transform 1.5s ease, opacity 1.5s ease;
}

.me-wrapper2 {
    transform: translate(-150%, -50%) scaleX(1);
    opacity: 0;
    transition: transform 1.5s ease, opacity 1.5s ease;
}

/* Sliding Animation */


body.swap .me-wrapper2 {
    transform: translate(-50%, -50%) scaleX(-1);
    /* slide in from left */
    opacity: 1;
}

.aboutme1 h2 {
    opacity: 0;
    transform: translateX(-50px);
    /* slide from top */
    transition: transform 1.2s cubic-bezier(0.1, 0, 0.35, 1), opacity 1.9s ease;
}

body.page-loaded .aboutme1 h2 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.5s;
}

/* Initial hidden state */
.sec2 .heroe-text {
    opacity: 0;
    transform: translateY(-50px);
    /* slide up from below */
    transition: transform 1s ease, opacity 1s ease;
}

.sec2 .aboutme2 {
    opacity: 0;
    transform: translateY(50px);
    /* slide up from below */
    transition: transform 1s ease, opacity 1.3s ease;
}

.sec2.animate .heroe-text {
    opacity: 1;
    transform: translateX(-50);
    transition-delay: 0.9s;
}

.sec2.animate .aboutme2 {
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0.4s;
}

.header .nav-links a:hover {
    margin-left: 2vh;
    margin-right: 5vh;
    text-decoration: none;

    color: #0a22aa;
}

.nav-links a.active {
        color: #d5e6f1;
    font-weight: bold;
    border-bottom: 2px solid #64afdbda;
}

.socials a:hover img {
    transform:
        translateY(4px) scale(1.07) rotateX(var(--rx)) rotateY(var(--ry));

    box-shadow:
        0 15px 35px rgba(0, 255, 255, 0.45),
        inset 0 0 25px rgba(255, 255, 255, 0.25);

    filter: saturate(1.4) brightness(1.15);
}